@model PetesPortfolio.Models.codeFirst.BlogPost

@{
    ViewBag.Title = "Details";
}

   
    <div class="container">
        <div class="col-md-12">
          <header>
                @*<a href="index.html"><img src="~/Renda_Blog_Template/images/logo.png"></a>*@
          </header>
            <section>
                <div class="row">
                    <div class="col-md-12">
                        <article class="blog-post">
                            @*<div class="blog-post-image">
                <a href="post.html"><img src="~/img/banner4_1140x500.jpeg" /></a>
            </div>*@

                            @if (Model.MediaURL != null)
                            {
                                <img class="img-responsive" src="@Model.MediaURL" alt="">
                            }

                            <div class="blog-post-body">
                                <h2>@Html.DisplayFor(model => model.Title)</h2>
                                <div class="post-meta"><span>by <a href="#">Pete Harvey</a></span>/<span><i class="fa fa-clock-o"></i>@Model.Created.ToString("d")</span>@*/<span><i class="fa fa-comment-o"></i> <a href="#">343</a></span>*@</div>
                                <div class="blog-post-text">
                                    <p>
                                        @*@Html.DisplayFor(model => model.Body)*@
                                        @Html.Raw(Model.Body)
                                    </p>
                                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                                    @Html.ActionLink("Back to List", "Index")
                                </div>
                            </div>


                            @********************* Begin of Create Comment   ******************************************************************************************************@
                            <div class="form-group">
                                <div class="col-md-12">

                                    @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()

                                        @*<div class="form-horizontal">*@
                                        @*<div class="col-md-12">*@
                                        @*<div class="col-md-offset-2 col-md-10">*@
                                        <h5>Leave a comment</h5>

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <input type="text" name="Body" class="form-control">
                                        <input type="hidden" name="PostId" value="@Model.Id" />


                                        <div class="form-group">
                                            @*<div class="col-md-offset-2 col-md-10">*@
                                            <div class="col-md-12">
                                                <input type="submit" value="Create Comment" class="btn btn-default" />
                                                <br />
                                                <br />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            @********************* End of Create Comment   ******************************************************************************************************@

                            
                            
                                <div class="Container h5">
                                        <div class="col-md-10">
                             
                                            @foreach (var com in Model.Comments)
                                            {
                                                <dl class="dl-horizontal">
                                                    <dt>
                                                        Comment
                                                    </dt>

                                                    <dd>
                                                        @com.Body
                                                    </dd>

                                                    <dt>
                                                        Comment Date
                                                    </dt>

                                                    <dd>
                                                        @com.Created.ToString("d")
                                                    </dd>

                                                    <dt>
                                                        Author:
                                                    </dt>

                                                    <dd>
                                                        @com.Author
                                                    </dd>

                                                </dl>
                                                    <div>
                                                        @Html.ActionLink("Edit", "Edit", "Comments", new { id = @com.Id }, null) |
                                                        @Html.ActionLink("Delete", "Delete", "Comments", new { id = @com.Id }, null)
                                                    </div>
                                            }
                                        </div>
                                    </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
                </div>
            </div>



@section scripts {
    <script src="~/Renda_Blog_Template/js/mooz.scripts.min.js"></script>
    }
